h1{
    background-color: darksalmon;
    text-align: center;
    font-family: "Brush Script MT";
}

#fov{
    color: hotpink;
    font-family: "Brush Script MT";
}
#my\ fov{
    color: hotpink;
   font-family: "Brush Script MT";
}
#hov{
    color: hotpink;
    font-family: "Brush Script MT";
}
#my\ life{
    color: blue;
    font-family: "Brush Script MT";
}
body{
    background-color: aliceblue;
}
#promo{
    color: hotpink;
    font-family: "Brush Script MT";
}