


#FAVS {
    background-color: aqua;
    text-align: center;
    border-style: solid;
}

#fav {
    color: aquamarine;
    border-style: solid;
}
#SVU{
    color: darkseagreen;
    border-style: solid;
}

#fav\ movie{
    color: aquamarine;
    border-style: solid;
}

#Conjuring {
    color: darkseagreen;
    border-style: solid;

}
#fav\ color{
    color: midnightblue;
    border-style: solid;
}
#Midnight\ Blue{
    color: midnightblue;
    border-style: solid;
}
#fav\ book\ series{
    color: aquamarine;
    border-style: solid;
}
#Legend\ Series{
    color: darkseagreen;
    border-style: solid;
}
#fav\ fruit{
    color: aquamarine;
    border-style: solid;
}
#Watermelon{
    color: darkseagreen;
    border-style: solid;
}
#fav\ ice\ cream\ flavor{
    color: aquamarine;
    border-style: solid;
}
#Mint\ Chocolate\ Chip{
    color: darkseagreen;
    border-style: solid;
}
#fav\ candy{
    color: aquamarine;
    border-style: solid;
}
#Peanut\ M\&Ms{
    color: darkseagreen;
    border-style: solid;
}
#fav\ movie\ director{
    color: aquamarine;
    border-style: solid;
}
#M\.\ Night\ Shyamalan{
    color: darkseagreen;
    border-style: solid;
}
body{
    background-color: blueviolet;
}
#fov{
    color: hotpink;
    font-family: "Brush Script MT";
}
#my\ fov{
    color: hotpink;
    font-family: "Brush Script MT"
}
#hov{
    color: hotpink;
    font-family: "Brush Script MT";
}
#promo{
    color:hotpink;
    font-family: "Brush Script MT";
}